.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.socials {
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.icon:hover {
  color: orangered;
}

.links {
  margin-bottom: 1rem;
}

.link {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: orangered
}

.copyright {
  font-size: 0.875rem;
}
